*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Arial','sans-serif','Helvitica';
    background:linear-gradient(39deg,rgb(186, 11, 40),white,pink,white,rgb(186,11,40));
}
.navbar{
    background:linear-gradient(skyblue, white,skyblue);
    display:flex;
    justify-content:space-between;
    gap:20px;
    align-items:center;
    padding:20px 35px;

}
.logo{
   display:flex;
   justify-content:space-between;
   gap:459px;
}
.logo img{
    width:65px;
    height:65px;
    border-radius:25%;
}
.logo h2{
    margin-top:30px ;
    margin-bottom:15px;
    font-weight:20px;
    text-align:center;
}
.nav-links{
    gap:35px;
    display:flex;
    justify-content:space-between;
    text-decoration:none;
    font-size:15px;
    font-weight:100;
    transition:0.3s;
}
.nav-links a{
    background-color:rgb(255, 133, 3);
    color:white;
    box-shadow:0 5px 10px grey;
    border-radius:25px;
    padding-left:20px;
    padding-top:5px;
    padding-right:20px;
    padding-bottom:5px;
}
.nav-links a:hover{
    background-color:darkblue;
    transform:translateY(-3px);
    box-shadow:0 5px 10px grey;
}
.hero{
    width:90%;
    margin:50px auto;
    display:flex;
    justify-content:space-between;
    gap:69px;
}
.left-section{
    flex:1;
}
.left-section img{
    border-radius:9px;
    width:100%;
    max-width:600px;
}
.right-section{
    flex:1;
}
.form-card{
    background:linear-gradient(35deg,rgb(242, 85, 111),white,rgb(242,85,111),white,rgb(242,85,111));
    box-shadow:0 10px 30px rgb(228, 152, 165);
    padding:40px;
    border-radius:20px;

}
.form-card h1{
    text-align:center;
    margin-bottom:9px;
}
.form-card p{
    text-align:center;

}
.input-group{
    display:flex;
    flex-direction:column;
    margin:20px;
}
.input-group label{
    text-align:center;
    margin-bottom:8px;
    color:darkmagenta;
    font-weight:300px;
    font-size:x-large;
}
.input-group input{
    transition:0.3s;
    font-weight:300px;
    padding:11px 11px;
    border:1px solid #d1d5db;
    font-size:18px;

}

