<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student_Registration</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" 
           href="{{ url_for('static', filename='css/style.css') }}">

    </head>
    <body>
        <header>
            <nav class="navbar">
               <div class="logo">
                 <img src="static/images/registration logo.png" alt="registration logo">
                 <h2>Student Registration System </h2>
               </div>
               <div class="nav-links">
                 <a href="/" class="Home">Home</a>
                 <a href="#" class="students">Students</a>
                 <a href="#" class="About">About</a>
                 <a href="#" class="Contact">Contact</a>
               </div>
            </nav>    
        </header>   
        <div class="hero">
            <div class="left-section">
                <img src="static/images/leftsection.png" alt="left-photo">
            </div>
            <div class="right-section">
                <div class="form-card">
                   <h1>Register New Student</h1>
                   <p>Fill your details below to create a new student profile</p>
                   <form action="/register" method="POST">
                       <div class="input-group">
                           <label for="name">Full Name</label>
                           <input type="text" id="name" name="name" placeholder="Enter your Full Name" required>
                       </div>
                       <div class="input-group">
                          <label for="email">Email Address</label>
                          <input type="text" id="email" name="email" placeholder="Enter your email" required>
                       </div>
                       <div class="input-group">
                          <label for="age">Age</label>
                          <input type="text" id="name" name="age" placeholder="Enter your Age" required>
                       </div>
                       <div class="input-group">
                         <label for="course">Course</label>
                         <input type="text" id="course" name="course" placeholder="Enter your Course" required>
                       </div>
                       <div class="input-group">
                          <label for="mobile ">Mobile No.</label>
                          <input type="tel" id="mobile" name="mobile" placeholder="Enter your Mobile No." required>
                       </div>
                        <div class="input-group">
                          <label>Gender</label>
                          <div class="gender-box">
                              <label><input type="radio" name="gender" value="Female">Female </label>
                              <label><input type="radio" name="gender" value="Male">Male</label>
                              <label><input type="radio" name="gender" value="Other">Other</label>
                           </div>

                        </div>
                        <button class="register-btn">Register Student </button>
                   </form>
                </div>
            </div>

        </div>
        <script src="" async defer></script>
    </body>
</html>